{% extends 'user_admin/logged_in_base.html' %}
{% block content %}



<div>
    <div id="dashboard-content">
        <div class="row no-bottom-padding">
            <div class="col s12">
                <div class="row no-bottom-padding">
                    <div class="col s12 m3 l3">
                        <div class="card grey darken-3 white-text z-depth-0">
                            <div class="card-content">
                                <div class="row no-bottom-padding">
                                    <div class="col s12 m10 l10 input-field">
                                        {{ search_form.search_text(class="white-text", required="") }}
                                        {{ search_form.search_text.label }}
                                    </div>

                                    <div class="col s12 m2 l2 input-field">
                                        <button class="waves-effect waves-purple btn-flat btn-medium white-text purple darken-1 center btn-hover">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card grey darken-3 white-text z-depth-0">
                            <div class="card-content">
                                <div class="row no-bottom-padding">
                                    <div class="col s12">
                                        <h5 class="center white-text no-top-padding">
                                            <i class="fas fa-thumbtack white-text"></i> &nbsp;Pinned Snippets
                                        </h5>
                                    </div>
                                </div>

                                <div class="row no-bottom-padding">
                                    <div class="col s12">
                                        {% for pinned_snippet in pinned_snippets %}
                                            <a href="#" onclick="getSnippet( '{{ pinned_snippet.vzsid }}' )">
                                                <div class="row no-padding purple darken-1 btn-hover sidebar-snippet-name white-text">
                                                    <div class="col s10 m11 l11">
                                                        <p>
                                                            {{ pinned_snippet.snippet_name }}
                                                        </p>
                                                    </div>

                                                    <div class="col s2 m1 l1">
                                                        <p class="right">
                                                            {{ pinned_snippet.language_icon|safe }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="sidebar-spacer"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m9 l9 no-left-padding">
                        <div class="card grey darken-3 white-text z-depth-0">
                            <div class="card-content">
                                <div id="editor-section">
                                    <div class="row no-bottom-padding">
                                        <div class="col s12">
                                            <h3 id="sname">{{ last_viewed_snippet.snippet_name }}<span class="right"
                                                    id="sicon">{{ last_viewed_snippet.language_icon|safe }}</span></h3>
                                            <p class="flow-text">
                                                <strong>
                                                    Description:
                                                </strong> <span id="sdesc">{{ last_viewed_snippet.description }}</span> <br>
                                                <strong>
                                                    Tags:
                                                </strong> <span id="stags">{{ last_viewed_snippet.tags }}</span>
                                            </p>
                                            <div class="section"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="row no-padding-bottom">
                                        <div class="col s12">
                                            <textarea name="snippet-content" id="snippet-content" maxlength="50000" ,
                                                pattern=".{1,50000}">{{ last_viewed_snippet.snippet_content }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% assets 'snypit_admin_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script>
    function getSnippet(vzsid) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/get-snippet?vzsid=' + vzsid + '&vzin={{ session["vzin"] }}')

        xhr.onload = function() {
            document.getElementById('editor-section').innerHTML = this.response;
            var editor = CodeMirror.fromTextArea(document.getElementById('snippet-content'), {
                lineNumbers: true,
                mode: document.getElementById('codemirror-mode').value,
                theme: "{{ session['editor_theme'] }}",
                indentUnit: 4
            });
        }

        xhr.send()
    }
</script>

<script>
    var editor = CodeMirror.fromTextArea(document.getElementById('snippet-content'), {
        lineNumbers: true,
        mode: '{{ last_viewed_snippet.codemirror_mode }}',
        theme: "{{ session['editor_theme'] }}",
        indentUnit: 4
    });
</script>

<script>
    M.AutoInit();
</script>

{% endblock %}