{% extends 'user_admin/logged_in_base.html' %}
{% block content %}

<div>
    <div id="dashboard-content">
        <div class="row no-bottom-padding">
            <div class="col s12">
                <div class="row no-bottom-padding">
                    <div class="col s12 m3 l3">
                        <div class="card grey darken-3 white-text z-depth-0">
                            <div class="card-content">
                                <form action="dashboard-search" id="search-form">
                                    <div class="row no-bottom-padding">
                                        <div class="col s12 m10 l10 input-field">
                                            {{ search_form.search_text(class="white-text", required="") }}
                                            {{ search_form.search_text.label(class="white-text") }}
                                        </div>
                                    
                                        <div class="col s12 m2 l2 input-field">
                                            <div class="sidebar-spacer"></div>
                                            <button
                                                class="waves-effect waves-purple btn-flat btn-medium white-text purple darken-1 center btn-hover full-width">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="card grey darken-3 white-text z-depth-0">
                            <div class="card-content">
                                <div class="row no-bottom-padding">
                                    <div class="col s12">
                                        <h5 class="center white-text no-top-padding">
                                            <i class="fas fa-thumbtack white-text"></i> &nbsp;Pinned Snippets
                                        </h5>
                                    </div>
                                </div>

                                <div class="row no-bottom-padding">
                                    <div class="col s12">
                                        {% for pinned_snippet in pinned_snippets %}
                                            <a href="#" onclick="getSnippet( '{{ pinned_snippet.vzsid }}' )">
                                                <div class="row no-padding purple darken-1 btn-hover sidebar-snippet-name white-text">
                                                    <div class="col s10 m11 l11">
                                                        <p>
                                                            {{ pinned_snippet.snippet_name }}
                                                        </p>
                                                    </div>

                                                    <div class="col s2 m1 l1">
                                                        <p class="right">
                                                            {{ pinned_snippet.language_icon|safe }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="sidebar-spacer"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card grey darken-3 white-text z-depth-0">
                            <div class="card-content">
                                <div class="row no-bottom-padding">
                                    <div class="col s12">
                                        <h5 class="center white-text no-top-padding">
                                            <i class="fas fa-clock"></i> &nbsp;Recent Snippets
                                        </h5>
                                    </div>
                                </div>
                                
                                <div class="row no-bottom-padding">
                                    <div class="col s12">
                                        {% for recent_snippet in recent_snippets %}
                                        <a href="#" onclick="getSnippet( '{{ recent_snippet.vzsid }}' )">
                                            <div class="row no-padding purple darken-1 btn-hover sidebar-snippet-name white-text">
                                                <div class="col s10 m11 l11">
                                                    <p>
                                                        {{ recent_snippet.snippet_name }}
                                                    </p>
                                                </div>
                                
                                                <div class="col s2 m1 l1">
                                                    <p class="right">
                                                        {{ recent_snippet.language_icon|safe }}
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="sidebar-spacer"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card grey darken-3 white-text z-depth-0">
                            <div class="card-content">
                                <div class="row no-bottom-padding">
                                    <div class="col s12">
                                        <h5 class="center white-text no-top-padding">
                                            <i class="fas fa-fire white-text"></i> &nbsp;Popular Snippets
                                        </h5>
                                    </div>
                                </div>
                        
                                <div class="row no-bottom-padding">
                                    <div class="col s12">
                                        {% for popular_snippet in popular_snippets %}
                                        <a href="#" onclick="getSnippet( '{{ popular_snippet.vzsid }}' )">
                                            <div class="row no-padding purple darken-1 btn-hover sidebar-snippet-name white-text">
                                                <div class="col s10 m11 l11">
                                                    <p>
                                                        {{ popular_snippet.snippet_name }}
                                                    </p>
                                                </div>
                        
                                                <div class="col s2 m1 l1">
                                                    <p class="right">
                                                        {{ popular_snippet.language_icon|safe }}
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="sidebar-spacer"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m9 l9 no-left-padding">
                        <div class="card grey darken-3 white-text z-depth-0">
                            <div class="card-content">
                                <div id="editor-section">
                                    <div class="row no-bottom-padding">
                                        <div class="col s12">
                                            <h3 id="sname">{{ last_viewed_snippet.snippet_name }}<span class="right"
                                                    id="sicon">{{ last_viewed_snippet.language_icon|safe }}</span></h3>
                                            <p class="flow-text">
                                                <strong>
                                                    Description:
                                                </strong> <span id="sdesc">{{ last_viewed_snippet.description }}</span> <br>
                                                <strong>
                                                    Tags:
                                                </strong> <span id="stags">{{ last_viewed_snippet.tags }}</span>
                                            </p>
                                            <div class="section"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="row no-bottom-padding">
                                        <div class="col s12">
                                            <textarea name="snippet-content" id="snippet-content" maxlength="50000" ,
                                                pattern=".{1,50000}">{{ last_viewed_snippet.snippet_content }}</textarea>
                                        </div>
                                    </div>

                                    <div class="row no-bottom-padding">
                                        <div class="col s12">
                                            <div class="section"></div>
                                            <button onclick="alertCopied()" data-clipboard-text="{{ last_viewed_snippet.snippet_content }}" id="copy-snippet" class="btn-flat purple darken-1 waves-effect waves-purple btn-hover white-text right">Copy</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% assets 'snypit_admin_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script>
    new ClipboardJS('#copy-snippet')
</script>

<script>
    function alertCopied() {
        M.toast({ html: '<p><i class="fas fa-check green-text text-lighten-2 center"></i> &nbsp;Copied!</p>', classes: 'grey darken-3 white-text' })
    };
</script>

<script>
    document.getElementById('search-form').addEventListener('submit', makeSearchRequest);
        function makeSearchRequest(e) {
            e.preventDefault();
            const xhr = new XMLHttpRequest();
            xhr.open("GET", "/dashboard-search?search-for=" + document.getElementById('search_text').value);

            xhr.onload = function () {
                document.getElementById('editor-section').innerHTML = this.response;
                var matches = document.querySelectorAll('.search-result-textarea');
                
                for (i=0; i < matches.length; i++) {
                    var matchId = matches[i].getAttribute('id');
                    var id = matchId.match(/\d+/g).map(Number);
                    var editorSection = 'search-results-editor-section' + id;
                    var editor = CodeMirror.fromTextArea(document.getElementById(matchId), {
                        lineNumbers: true,
                        //mode: {#'{{ search_match.codemirror_mode }}',#}
                        theme: "{{ session['editor_theme'] }}",
                    });

                    if (document.getElementById(editorSection).clientHeight >= 350) {
                        editor.setSize(null, 225);
                    };
                };
            }

            xhr.send()
        };
</script>

<script>
    function getSnippet(vzsid) {
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/get-snippet?vzsid=' + vzsid + '&vzin={{ session["vzin"] }}')

        xhr.onload = function() {
            document.getElementById('editor-section').innerHTML = this.response;
            var editor = CodeMirror.fromTextArea(document.getElementById('snippet-content'), {
                lineNumbers: true,
                mode: document.getElementById('codemirror-mode').value,
                theme: "{{ session['editor_theme'] }}",
                indentUnit: 4
            });
        }

        xhr.send()
    }
</script>

<script>
    var editor = CodeMirror.fromTextArea(document.getElementById('snippet-content'), {
        lineNumbers: true,
        mode: '{{ last_viewed_snippet.codemirror_mode }}',
        theme: "{{ session['editor_theme'] }}",
        indentUnit: 4
    });
</script>

<script>
    M.AutoInit();
</script>

{% endblock %}