{% extends 'user_admin/logged_in_base.html' %}
{% block content %}

<div>
    <div class="container" id="content">
        <div class="row no-bottom-padding">
            <div class="col s12">
                <div class="container">
                    <div class="card z-depth-0 grey darken-3 white-text">
                        <div class="card-content">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}