{% extends "base.html" %}
{% block content %}

<div class="row no-padding-bottom">
    <div class="col s12 m4 l2 dashboard-scroll" style="height: 93vh !important; overflow: auto;">
        <div class="card grey darken-3 z-depth-0">
            <div class="card-content">
                <form action="/dashboard-search" method="POST" id="dashboard-search-form">
                    <div class="row no-padding">
                        <div class="col s12 m12 l12 no-padding">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <div class="input-field no-padding">
                                {{ dashboard_search_form.search_text(class="validate white-text", required="")}}
                                {{ dashboard_search_form.search_text.label }}
                                <span class="helper-text white-text center">Comma Separated Values</span>
        
                                {% for error in dashboard_search_form.search_text.errors %}
                                <span class="red-text accent-1">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row no-padding-bottom">
                        <div class="col s12 m12 l12">
                             <button class="btn-flat btn-small full-width-button waves-effect waves-light purple darken-1 right" type="submit" name="action">
                                <i class="material-icons center white-text">search</i>
                            </button>
                        </div>
                    </div>

                    <div class="row" id="search-preloader-row" style="display: none;">
                        <div class="col s12">
                            <div class="progress" id="preloader">
                                <div class="indeterminate"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="card grey darken-3 z-depth-0">
            <div class="card-content">
                <div class="row no-padding">
                    <div class="col no-padding s12">
                        <h5 class="center white-text">
                            <i class="fas fa-thumbtack white-text"></i> &nbsp;Pinned Snippets
                        </h5>
                    </div>
                </div>
        
                {% for pinned_snippet in pinned_snippets %}
                    <div class="half-vh-top-padding"></div>
            
                    <a onclick="getSnippet({{ pinned_snippet.id }})" href="#">
                        <div class="row no-padding purple darken-1 hoverable">
                            <div class="col s12 waves-effect waves-light">
                                <div class="row no-padding">
                                    <div class="col s10 m12 l12 no-padding">
                                        <p class="white-text truncate">
                                            <span>
                                                <strong>
                                                    {{ pinned_snippet.snippet_name }}
                                                </strong>
                                                <span class="right">{{ pinned_snippet.language }}</span>
                                            </span>
                                        </p>
                                    </div>
            
                                    <div class="col s2 m12 l12 no-padding">
                                        <p class="white-text">
                                            <span>Added: {{ pinned_snippet.added_on.strftime("%D") }}
                                                <span class="right"><i class="fas fa-thumbtack white-text"></i></span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        
        <div class="card grey darken-3 z-depth-0">
            <div class="card-content">
                <div class="row no-padding">
                    <div class="col no-padding s12">
                        <h5 class="center white-text">
                            <i class="fas fa-fire white-text"></i> &nbsp;Popular Snippets
                        </h5>
                    </div>
                </div>
        
                {% for popular_snippet in popular_snippets %}
                    <a href="#" onclick="getSnippet( {{ popular_snippet.id }} )">
                        <div class="half-vh-top-padding"></div>
                        
                        <div class="row no-padding purple darken-1 hoverable">
                            <div class="col s12 waves-effect waves-light">
                                <div class="row no-padding">
                                    <div class="col s10 m12 l12 no-padding">
                                        <p class="white-text truncate">
                                            <span>
                                                <strong>
                                                    {{ popular_snippet.snippet_name }}
                                                </strong>

                                                <span class="right">{{ popular_snippet.language }}</span>
                                            </span>
                                        </p>
                                    </div>
                        
                                    <div class="col s2 m12 l12 no-padding">
                                        <p class="white-text">
                                            <span>Added: {{ popular_snippet.added_on.strftime("%D") }}
                                                <span class="right"><i class="fas fa-fire white-text"></i></span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        
        <div class="card grey darken-3 z-depth-0">
            <div class="card-content">
                <div class="row no-padding">
                    <div class="col no-padding s12">
                        <h5 class="center white-text">
                            <i class="fas fa-calendar-check white-text"></i> &nbsp;Recent Snippets
                        </h5>
                    </div>
                </div>
        
                {% for recent_snippet in recent_snippets %}
                    <a href="#" onclick="getSnippet( {{ recent_snippet.id }} )">
                        <div class="half-vh-top-padding"></div>
                        
                        <div class="row no-padding purple darken-1 hoverable">
                            <div class="col s12 waves-effect waves-light">
                                <div class="row no-padding">
                                    <div class="col s10 m12 l12 no-padding">
                                        <p class="white-text truncate">
                                            <span>
                                                <strong>
                                                    {{ recent_snippet.snippet_name }}
                                                </strong>

                                                <span class="right">{{ recent_snippet.language }}</span>
                                            </span>
                                        </p>
                                    </div>
                        
                                    <div class="col s2 m12 l12 no-padding">
                                        <p class="white-text">
                                            <span>Added: {{ recent_snippet.added_on.strftime("%D") }} <span class="right"><i class="fas fa-calendar-check white-text"></i></span></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col s12 m8 l10 dashboard-scroll" style="height: 93vh !important; overflow: auto;">
        <div class="card grey darken-3 z-depth-0">
            <div class="card-content" id="editor-section">
                {% if last_viewed_snippet %}
                    <div class="row no-padding">
                        <div class="col s12 m11 l11 no-padding">
                            <h4 class="white-text">
                                {{ last_viewed_snippet.snippet_name }}
                            </h4>
                        </div>
                    
                        <div class="col s12 m1 l1 no-padding right">
                            <h4 class="white-text right">
                                {{ last_viewed_snippet.language }}
                            </h4>
                        </div>
                    </div>
                    
                    <p class="flow-text white-text">
                        <strong>
                            Description:
                        </strong>
                        <span class="grey-text text-lighten-2">{{ last_viewed_snippet.description }}</span>
                    </p>
                    
                    <p class="flow-text white-text">
                        <strong>
                            Tags:
                        </strong>
                        <span class="grey-text text-lighten-2">
                            {{ last_viewed_snippet_tags }}
                        </span>
                    </p>
                    
                    <div class="section"></div>
                    
                    <div class="row">
                        <div class="col s12">
                            <textarea name='snippet_content' id='snippet-content'>{{last_viewed_snippet.snippet_content }}</textarea>
                        </div>
                    </div>

                {% else %}

                    <h3 class="white-text center">
                        No Snippets Yet...
                    </h3>  

                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="/static/codemirror_modes/python/python.js"></script>
<script src="/static/codemirror_modes/clike/clike.js"></script>
<script src="/static/codemirror_modes/css/css.js"></script>
<script src="/static/codemirror_modes/http/http.js"></script>
<script src="/static/codemirror_modes/javascript/javascript.js"></script>
<script src="/static/codemirror_modes/jinja2/jinja2.js"></script>
<script src="/static/codemirror_modes/nginx/nginx.js"></script>
<script src="/static/codemirror_modes/perl/perl.js"></script>
<script src="/static/codemirror_modes/php/php.js"></script>
<script src="/static/codemirror_modes/powershell/powershell.js"></script>
<script src="/static/codemirror_modes/ruby/ruby.js"></script>
<script src="/static/codemirror_modes/sass/sass.js"></script>
<script src="/static/codemirror_modes/shell/shell.js"></script>
<script src="/static/codemirror_modes/sql/sql.js"></script>
<script src="/static/codemirror_modes/vb/vb.js"></script>
<script src="/static/codemirror_modes/vbscript/vbscript.js"></script>
<script src="/static/codemirror_modes/xml/xml.js"></script>
<script src="/static/codemirror_modes/yaml/yaml.js"></script>
<script src="/static/codemirror_modes/yaml-frontmatter/yaml-frontmatter.js"></script>

<script>
    var editor = CodeMirror.fromTextArea(document.getElementById('snippet-content'), {
        lineNumbers: true,
        mode: '{{ last_viewed_snippet.codemirror_mode }}',
        theme: "{{ session['editor_theme'] }}",
        readOnly: 'nocursor',
        indentUnit: 4
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.chips');
        var instances = M.Chips.init(elems, {
            placeholder: 'Enter Tags',
            secondaryPlaceholder: '+Tags'
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>



<script type="text/javascript">
    function updateLanguage() {
        var selectBox = document.getElementById("language");
        var selectedLanguage = selectBox.options[selectBox.selectedIndex].value.split("&")[1];
        editor.setOption("mode", selectedLanguage);
    }
</script>

<script>
    function getSnippet(snippet_id) {
        $.ajax({
            url: '/dashboard-editor-update?snippet_id=' + snippet_id,
            type: 'get',
            success: function (response) {
                $('#editor-section').html(response);
            } 
        })
    };
</script>

<script>
    $(document).ready(function (e) {
        $('#dashboard-search-form').on('submit', function (e) {
            e.preventDefault();

            var preloader = document.getElementById('search-preloader-row');

            if (preloader.style.display === 'none') {
                preloader.style.display = 'block';
            }

            new_dashboard_search_request = $.ajax({
                url: '/dashboard-search',
                type: 'POST',
                data: $('#dashboard-search-form').serialize(),
                success: function(response) {
                    if (response.status === 'search_error'){
                        M.toast({ html: '<p>Invalid Search!</p>', classes: 'grey darken-3 white-text flow-text button-border-purple z-depth-5' });
                    }

                    else {
                        $('#editor-section').html(response)
                    }
                }
            });

            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
        });
    });
</script>

{% endblock %}