{% extends "user/logged_out_base.html" %}
{% block content %}

<div class="container" id="content">
    <div class="row no-bottom-padding">
        <div class="col s12">
            <div class="section"></div>
            <div class="card z-depth-0 grey darken-3 white-text">
                <div class="card-content">
                    <div id="forgot-pw-form-section">
                        <form action="/send-password-reset-link" method="POST" id="forgot-password-form">
                            <div class="row">
                                <div class="col s12">
                                    <h3 class="">
                                        Forgot Password<i class="fas fa-question right"></i>
                                    </h3>
                                </div>
                            </div>
            
                            <div class="row">
                                <div class="col s12">
                                    <p class="flow-text hcc-dark-blue-text">
                                        A password-reset link will be sent to your email address.
                                    </p>
                                </div>
                            </div>
            
                            <div class="row">
                                <div class="col s12 input-field">
                                    <i class="material-icons prefix ">email</i>
                                    {{ forgot_password_form.forgot_password_email(class="white-text", type="email", required="", pattern=".{1,100}", title="Must be less than 100 characters.", maxlength="100") }}
                                    {{ forgot_password_form.forgot_password_email.label }}
            
                                    <span class="red-text text-accent-1 helper-text" style="display: none;"
                                        id="email-error-text"></span>
            
                                    {% for error in forgot_password_form.forgot_password_email.errors %}
                                    <span class="red-text accent-1 helper-text">{{ error }}</span>
                                    {% endfor %}
                                    <div class="section"></div>
                                </div>
            
                            </div>
            
                            <div class="row">
                                <div class="col s12 right">
                                    <div id="forgot-pw-form-btns">
                                        <p>
                                            <button
                                                class="waves-effect waves-purple btn-flat purple darken-1 right white-text btn-spacing btn-hover"
                                                type="submit">Send</button>
                                            <a href="/"
                                                class="waves-effect waves-purple btn-flat white-text purple darken-1 right btn-hover">Cancel</a>
                                        </p>
                                    </div>
            
                                    <div class="progress" style="display: none;" id="forgot-pw-preloader">
                                        <div class="indeterminate"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            
                    <div id="pw-link-sent-section" style="display: none;">
                        <div class="row">
                            <div class="col s12">
                                <h3 class="center"><i class="fas fa-check green-text text-lighten-2"></i> &nbsp;Password reset link
                                    sent.</h3>
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col s12 center">
                                <div class="container">
                                    <a href="/"
                                        class="btn-flat white-text full-width purple darken-1 waves-effect waves-purple btn-hover">Done</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% assets 'snypit_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script>
    document.getElementById("forgot-password-form").addEventListener('submit', makeRequest);
    function makeRequest(e) {
        e.preventDefault();
        var xhr;
        var csrf_token = "{{ csrf_token() }}";
        var preloader = document.getElementById("forgot-pw-preloader");
        var formBtns = document.getElementById("forgot-pw-form-btns");
        var emailErrorText = document.getElementById('email-error-text');

        formBtns.style.display = 'none';
        preloader.style.display = "block";

        xhr = new XMLHttpRequest();
        xhr.open('POST', '/send-password-reset-link', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
        var email = "forgot_password_email=" + document.getElementById('forgot_password_email').value;
        var params = email;
        xhr.onload = function () {
            preloader.style.display = "none";
            formBtns.style.display = 'block';

            var r = JSON.parse(this.response);

            if (this.status === 200) {
                document.getElementById('forgot-pw-form-section').style.display = 'none';
                document.getElementById('pw-link-sent-section').style.display = 'block';
            }

            else if (this.status === 400) {

                if (r.hasOwnProperty('errors')) {
                    if (r.errors.hasOwnProperty('forgot_password_email')) {
                        if (r.errors.forgot_password_email === 'unconfirmed_email') {
                            window.location.href = '/email-confirmation-sent?email=' + document.getElementById('forgot_password_email').value;
                        }
                        emailErrorText.style.display = 'block';
                        emailErrorText.innerHTML = r.errors.forgot_password_email;
                    }
                }
            }
        };
        xhr.onerror = function () {
            formBtns.style.display = 'block';
            preloader.style.display = 'none';
            M.toast({ html: '<p><i class="fas fa-2x fa-exclamation-triangle red-text text-accent-1 center"></i></p> &nbsp;&nbsp;&nbsp;<p>An error occured submitting the form.</p>', classes: 'grey darken-3 white-text center' })
        };
        xhr.send(params);
    };
</script>

{% endblock %}