{% extends "user/logged_out_base.html" %}
{% block content %}

<div class="valign-wrapper full-height">
    <div class="container" id="content">
        <div class="row no-bottom-padding">
            <div class="col s12">
                <div class="container">
                    <div class="card z-depth-0 grey darken-3 white-text">
                        <div class="card-content">
                            <div id="new-pw-form-section">
                                <form action="/submit-new-password" method="POST" id="reset-password-form">
                                    <div class="row">
                                        <div class="col s12">
                                            <h3 class="hcc-dark-blue-text">
                                                Reset Password <i class="fas fa-lock right"></i>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="row no-bottom-padding">
                                        <div class="col s12 input-field">
                                            <i class="material-icons prefix ">lock</i>
                                            {{ reset_password_form.reset_password(class="white-text", required="", type="password", pattern=".{8,128}", maxlength="128", title="Must be at 8-128 characters.") }}
                                            {{ reset_password_form.reset_password.label }}

                                            <span class="red-text text-accent-1 helper-text" style="display: none;" id="password_error_text"></span>
                                    
                                            {% for error in reset_password_form.reset_password.errors %}
                                                <span class="red-text accent-1 helper-text">{{ error }}</span>
                                            {% endfor %}

                                            {{ reset_password_form.email(value=email) }}
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col s12 input-field">
                                            <i class="material-icons prefix ">lock</i>
                                            {{ reset_password_form.confirm_reset_password(class="white-text", required="", type="password", pattern=".{8,128}", maxlength="128", title="Must be at 8-128 characters.") }}
                                            {{ reset_password_form.confirm_reset_password.label }}

                                            <span class="red-text text-accent-1 helper-text" style="display: none;" id="confirm_password_error_text"></span>
                                    
                                            {% for error in reset_password_form.confirm_reset_password.errors %}
                                                <span class="red-text accent-1 helper-text">{{ error }}</span>
                                            {% endfor %}

                                            <div class="section"></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s12 right">
                                            <div id="reset-pw-form-btns">
                                                <p>
                                                    <button class="waves-effect waves-purple btn-flat purple darken-1 right white-text btn-spacing btn-hover" type="submit">Reset</button>
                                                    <a href="/" class="waves-effect waves-purple btn-flat white-text purple darken-1 right btn-hover">Cancel</a>
                                                </p>
                                            </div>

                                            <div class="progress" style="display: none;" id="reset-pw-preloader">
                                                <div class="indeterminate"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% assets 'snypit_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script>
    document.getElementById("reset-password-form").addEventListener('submit', makeRequest);
    function makeRequest(e) {
        e.preventDefault();
        var xhr;
        var csrf_token = "{{ csrf_token() }}";
        var preloader = document.getElementById("reset-pw-preloader");
        var formBtns = document.getElementById("reset-pw-form-btns");
        var pwErrorText = document.getElementById('password_error_text');
        var cpwErrorText = document.getElementById('confirm_password_error_text');
        var password = document.getElementById('reset_password').value;
        var confirmPassword = document.getElementById("confirm_reset_password").value;

        pwErrorText.style.display = 'none';
        cpwErrorText.style.display = 'none';

        if (password !== confirmPassword) {
            cpwErrorText.style.display = "block";
            cpwErrorText.innerHTML = "Passwords must match.";
            return false;
        }

        formBtns.style.display = 'none';
        preloader.style.display = "block";

        xhr = new XMLHttpRequest();
        xhr.open('POST', '/submit-new-password', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
        var passwordString = "reset_password=" + password + "&";
        var confirmPasswordString = "confirm_reset_password=" + confirmPassword + "&";
        var email = "email=" + document.getElementById("email").value;
        var params = passwordString + confirmPasswordString + email;
        xhr.onload = function () {
            preloader.style.display = "none";
            formBtns.style.display = 'block';

            var r = JSON.parse(this.response);

            if (this.status === 200) {
                window.location.href = r.redirect_url
            }

            else if (this.status === 400) {

                if (r.hasOwnProperty('errors')) {
                    if (r.errors.hasOwnProperty('reset_password')) {
                        pwErrorText.style.display = 'block';
                        pwErrorText.innerHTML = r.errors.reset_password;
                    }
                    if (r.errors.hasOwnProperty('confirm_reset_password')) {
                        cpwErrorText.style.display = 'block';
                        cpwErrorText.innerHTML = r.errors.confirm_reset_password;
                    }
                }
            }
        };
        xhr.onerror = function () {
            formBtns.style.display = 'block';
            preloader.style.display = 'none';
            M.toast({ html: '<p><i class="fas fa-2x fa-exclamation-triangle red-text text-accent-1 center"></i></p> &nbsp;&nbsp;&nbsp;<p>An error occured submitting the form.</p>', classes: 'grey darken-3 white-text center' })
        };
        xhr.send(params);
    };
</script>

{% endblock %}