<div class="navbar-fixed" id="fixed-nav">
    <nav class="grey darken-4 nav-center">
        <div class="container">
            <div class="nav-wrapper">
                <ul>
                    <li>
                        <a href="#overview" class="white-text waves-effect waves-light nav-link">Overview</a>
                    </li>

                    <li>
                        <a href="#experience" class="white-text waves-effect waves-light nav-link">Experience</a>
                    </li>

                    <li>
                        <a href="#creds" class="white-text waves-effect waves-light nav-link">Creds</a>
                    </li>

                    <li>
                        <a href="#apps" class="waves-effect waves-light white-text nav-link">Apps</a>
                    </li>

                    <li>
                        <a href="#contact" class="waves-effect waves-light white-text nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>