<div class="section"></div>

<form action="/update-password" method="POST" id="update-password-form">
    <div class="row">
        <div class="col s12 m12 l3"></div>

        <div class="col s12 m12 l6">
            <div class="row">
                <div class="col s12 input-field">
                    <i class="material-icons prefix white-text">lock</i>
                    {{ update_password_form.old_password(class="validate white-text", required="", type="password",
                    pattern=".{8,}", title="Must be at least 8 characters.")}}
                    {{ update_password_form.old_password.label }}
                    
                    {%for error in update_password_form.old_password.errors %}
                    <span class="red-text accent-1">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col s12 input-field">
                    <i class="material-icons prefix white-text">lock</i>
                    {{ update_password_form.new_password(class="validate white-text", required="", type="password",
                    pattern=".{8,}", title="Must be at least 8 characters.")}}
                    {{ update_password_form.new_password.label }}
            
                    {%for error in update_password_form.new_password.errors %}
                    <span class="red-text accent-1">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col s12 input-field">
                    <i class="material-icons prefix white-text">lock</i>
                    {{ update_password_form.confirm_new_password(class="validate white-text", required="", type="password",
                    pattern=".{8,}", title="Must be at least 8 characters.")}}
                    {{ update_password_form.confirm_new_password.label }}
            
                    {%for error in update_password_form.confirm_new_password.errors %}
                    <span class="red-text accent-1">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button class="right btn-flat transparent waves-effect waves-purple white-text no-right-padding" type="submit">Save</button>
                    <a href="#" onclick="getPersonalInfoForm({{ session['user_id'] }})" class="right btn-flat transparent white-text waves-effect waves-purple">Cancel</a>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l3"></div>
    </div>
</form>

{% if pw_error == 'password_match' %}
    <script>
        M.toast({ html: '<p><i class="fas fa-exclamation-triangle red-text text-accent-1"></i><br>New Passwords Must Match!</p>', classes: 'grey darken-3 white-text flow-text button-border-purple z-depth-5 center' });
    </script>
{% endif %}

<script>
    function getPersonalInfoForm(user_id) {
        $.ajax({
            url: '/update-personal-details?user_id=' + user_id,
            type: 'get',
            success: function (response) {
                $('#personal-info-section').html(response);
            }
        })
    }
</script>

<script>

    $('#update-password-form').on('submit', function (e) {
        e.preventDefault();

        document.getElementById('preloader').style.display = 'block';

        new_update_password_request = $.ajax({
            url: "/update-password?user_id={{ session['user_id'] }}&request_method=update_password",
            type: 'POST',
            data: $('#update-password-form').serialize(),
        });

        var csrf_token = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });

        new_update_password_request.done(function (data) {
            if (data.status === 'old_password_failure') {
                document.getElementById('preloader').style.display = 'none';
                M.toast({ html: '<p><i class="fas fa-exclamation-triangle red-text text-accent-1"></i><br>Old Password Must Match!</p>', classes: 'grey darken-3 white-text flow-text button-border-purple z-depth-5 center' });
            }

            else if (data.status === 'new_password_match_failure') {
                document.getElementById('preloader').style.display = 'none';
                M.toast({ html: '<p><i class="fas fa-exclamation-triangle red-text text-accent-1"></i><br>New Passwords Must Match!</p>', classes: 'grey darken-3 white-text flow-text button-border-purple z-depth-5 center' });
            }

            else {
                M.toast({ html: '<p>Password Updated!</p>', classes: 'grey darken-3 white-text flow-text button-border-purple z-depth-5' });
                document.getElementById('preloader').style.display = 'none';
                $('#personal-info-section').html(data);
            }
        });
    });

</script>