{% extends "user_admin/logged_in_base.html" %}
{% block content %}


<div class="full-height">
    <div class="container" id="content">
        <div class="row no-bottom-padding">
            <div class="col s12">
                <div class="section"></div>
                <div class="card white-text grey darken-3 z-depth-0">
                    <div class="card-content">
                        <div class="row" id="title-row">
                            <div class="col s12">
                                <h3 class="white-text">
                                    New Snippet<i class="fas fa-code white-text right"></i>
                                </h3>
                            </div>
                        </div>

                        <div id="new-snippet-form-section">
                            <form action="/new-snippet-submit" method="POST" id="new-snippet-form">
                                <div class="row no-bottom-padding">
                                    <div id="sname">
                                        <div class="col s12 m12 l6 input-field">
                                            <i class="material-icons prefix ">title</i>
                                            {{ new_snippet_form.snippet_name(class="white-text", required="", maxlength="150", pattern=".{1,150}", title="Must be less than 150 characters.")}}
                                            {{ new_snippet_form.snippet_name.label }}
                                            
                                            <span class="red-text text-accent-1 helper-text" style="display: none;" id="name_error_text"></span>

                                            {% for error in new_snippet_form.snippet_name.errors %}
                                                <span class="red-text accent-1">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div id="slang">
                                        <div class="col s12 m12 l6 input-field">
                                            <i class="material-icons prefix ">code</i>
                                            {{ new_snippet_form.language(class="white", required="", onchange="updateLanguage()")}}

                                            <span class="red-text text-accent-1 helper-text" style="display: none;" id="language_error_text"></span>
                                    
                                            {% for error in new_snippet_form.language.errors %}
                                                <span class="red-text accent-1">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row no-bottom-padding">
                                    <div id="sdesc">
                                        <div class="col s12 input-field">
                                            <i class="material-icons prefix ">description</i>
                                            {{ new_snippet_form.description(class="white-text materialize-textarea", required="", maxlength="1500", pattern=".{1,1500}", title="Must be less than 1500 characters.")}}
                                            {{ new_snippet_form.description.label }}

                                            <span class="red-text text-accent-1 helper-text" style="display: none;" id="description_error_text"></span>
                            
                                            {% for error in new_snippet_form.description.errors %}
                                                <span class="red-text accent-1">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row valign-wrapper hide-on-med-and-down" id="stagsnpin">
                                    <div class="col s12 m12 l6 no-padding-top input-field">
                                        <i class="material-icons prefix ">search</i>
                                        <div class="chips chips-placeholder white-text no-top-padding no-bottom-padding" id="lg-tags"></div>
                                        <span class="red-text text-accent-1 helper-text" style="display: none;" id="tags_error_text"></span>
                                        <a href="#" onclick="tagsHelp()" style="color: #9e9e9e;"><i class="far fa-question-circle right help-text-top-padding"></i></a>
                                    </div>
                                
                                    <div class="col s12 m12 l6 center no-top-padding">
                                        <label>
                                            <input type="checkbox" class="filled-in white-text" name="pin" id="pin"/>
                                            <span class="white-text center"><i class="fas fa-thumbtack"></i> &nbsp;Pin to my favorites!</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="row hide-on-large-only" id="sm-stagsnpin">
                                    <div class="col s12 m12 l6 no-padding-top input-field">
                                        <i class="material-icons prefix ">search</i>
                                        <div class="chips chips-placeholder white-text no-top-padding no-bottom-padding" id="sm-tags"></div>
                                        <span class="red-text text-accent-1 helper-text" style="display: none;" id="tags_error_text"></span>
                                        <a href="#" onclick="tagsHelp()" style="color: #9e9e9e;"><i class="far fa-question-circle right"
                                                style="margin-top:.25rem !important;"></i></a>
                                    </div>
                                    
                                    <div class="col s12 m12 l6 center no-top-padding">
                                        <div class="section"></div>
                                        <label>
                                            <input type="checkbox" class="filled-in white-text" name="pin" id="pin" />
                                            <span class="white-text center"><i class="fas fa-thumbtack"></i> &nbsp;Pin to my favorites!</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12 input-field">
                                        <div class="section"></div>
                                        <textarea name="snippet" id="snippet" maxlength="50000", pattern=".{1,50000}"></textarea>
                                        <span class="red-text text-accent-1 helper-text help-text-top-padding" style="display: none;" id="snippet_error_text"></span>
                                    </div>
                                </div>

                                <div class="row" id="save-new-snippet-button-row">
                                    <div class="col s12">
                                        <div class="section"></div>
                                        <div id="new-snippet-btns">
                                            <span class="right">
                                                <a href="/dashboard?vzin={{ session['vzin'] }}&username={{ session['username'].title() }}"
                                                    class="purple darken-1 white-text waves-effect waves-purple btn-hover btn-flat">Cancel</a>&nbsp;
                                                <button type="submit" class="btn-flat purple darken-1 white-text waves-effect waves-purple btn-hover"
                                                    id="snippet-submit-button">Save</button>
                                            </span>
                                        </div>

                                        <div class="progress" style="display: none;" id="new-snippet-preloader">
                                            <div class="indeterminate"></div>
                                        </div>

                                        <div class="row" id="another-snippet-row" style="display: none;">
                                            <div class="col s12">
                                                <span class="right">
                                                    <a href="/dashboard?vzin={{ session['vzin'] }}&username={{ session['username'].title() }}"
                                                        class="btn-flat purple darken-1 white-text waves-effect waves-purple btn-hover">Done</a>&nbsp;
                                                    <a href="#" onclick="getNewSnippetForm()" class="btn-flat purple darken-1 white-text btn-hover waves-effect waves-purple">New</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% assets 'snypit_admin_js' %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.chips');
        var instances = M.Chips.init(elems, {
            placeholder: 'Enter Tags',
            secondaryPlaceholder: '+Tags'
        });
    });
</script>

<script>
    M.AutoInit();
</script>

<script>
    var editor = CodeMirror.fromTextArea(document.getElementById('snippet'), {
        lineNumbers: true,
        mode: 'python',
        theme: "{{ session['editor_theme'] }}"
    });
</script>

<script type="text/javascript">
    function updateLanguage() {
        var selectBox = document.getElementById("language");
        var selectedLanguage = selectBox.options[selectBox.selectedIndex].value.split("||")[1];
        editor.setOption("mode", selectedLanguage);
    }
</script>

<script>
    function tagsHelp() {
        M.toast({ 
            html: '<p>To create a tag, type the tag content & press Enter.<br>To delete a tag, press Backspace twice.</p>',
            classes: 'grey darken-3 white-text',
            'displayLength': 6000 
        });
    };
</script>

<script>
    function getNewSnippetForm() {
        document.getElementById('title-row').style.display = 'block';
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/get-new-snippet-form', true);
        xhr.onload = function () {
            if (this.status === 200) {
                document.getElementById('new-snippet-form-section').innerHTML = this.response;
                var elems = document.querySelectorAll('.chips');
                var instances = M.Chips.init(elems, {
                    placeholder: 'Enter Tags',
                    secondaryPlaceholder: '+Tags'
                });

                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems);

                var editor = CodeMirror.fromTextArea(document.getElementById('snippet'), {
                    lineNumbers: true,
                    mode: 'python',
                    theme: "{{ session['editor_theme'] }}"
                });

                document.getElementById("new-snippet-form").addEventListener('submit', makeRequest);
                function makeRequest(e) {
                    e.preventDefault();
                    var csrf_token = "{{ csrf_token() }}";
                    var preloader = document.getElementById("new-snippet-preloader");
                    var formBtns = document.getElementById("new-snippet-btns");
                    var snippetName = document.getElementById('snippet_name').value;
                    var snippetLanguage = document.getElementById('language').value;
                    var snippetDescription = document.getElementById('description').value;
                    var snippetContent = document.getElementById('snippet').value;
                    var nameErrorText = document.getElementById('name_error_text');
                    var languageErrorText = document.getElementById('language_error_text');
                    var descErrorText = document.getElementById('description_error_text');
                    var tagsErrorText = document.getElementById('tags_error_text');
                    var snippetErrorText = document.getElementById('snippet_error_text');
                    var tags = 'tags=';
                    var tagData = M.Chips.getInstance(document.getElementById('lg-tags'));

                    if (tagData.chipsData.length === 0) {
                        var tagData = M.Chips.getInstance(document.getElementById('sm-tags'));
                    };

                    if (tagData.chipsData.length === 0) {
                        tags = tags + "&";
                    };

                    if (tagData.chipsData.length === 1) {
                        tags = tags + tagData.chipsData[0].tag + "&";
                    }

                    else if (tagData.chipsData.length > 1) {
                        for (var i = 0; i < tagData.chipsData.length; i++) {
                            if (i === 0) {
                                tags = tags + tagData.chipsData[i].tag;
                            }

                            else if (i !== 0 && i !== tagData.chipsData.length - 1) {
                                tags = tags + "," + tagData.chipsData[i].tag;
                            }

                            else {
                                tags = tags + "," + tagData.chipsData[i].tag + "&";
                            };
                        };
                    };

                    if (document.getElementById('pin').checked) {
                        var pin = 'pin=True&';
                    }

                    else {
                        var pin = 'pin=False&';
                    };

                    nameErrorText.style.display = "none";
                    languageErrorText.style.display = "none";
                    descErrorText.style.display = "none";
                    tagsErrorText.style.display = "none";
                    snippetErrorText.style.display = "none";

                    if (snippetLanguage === "none||none") {
                        languageErrorText.style.display = 'block';
                        languageErrorText.innerHTML = 'This field is required.'
                        return false;
                    };

                    if (snippetContent == "") {
                        snippetErrorText.style.display = 'block';
                        snippetErrorText.innerHTML = 'This field is required.'
                        return false;
                    }

                    if (snippetContent.length > 50000) {
                        snippetErrorText.style.display = 'block';
                        snippetErrorText.innerHTML = 'Cannot exceed 50,000 characters.'
                        return false;
                    }

                    if (tags.length > 500) {
                        tagsErrorText.style.display = 'block';
                        tagsErrorText.innerHTML = 'There are too many tags.';
                        return false;
                    }

                    var name = "snippet_name=" + snippetName + "&";
                    var language = "language=" + snippetLanguage + "&";
                    var description = "description=" + snippetDescription + "&";
                    var snippet = "snippet=" + snippetContent;
                    var params = name + language + description + tags + pin + snippet;

                    formBtns.style.display = 'none';
                    preloader.style.display = "block";

                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/new-snippet-submit', true);
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    xhr.onload = function () {
                        preloader.style.display = "none";
                        formBtns.style.display = 'block';

                        var r = JSON.parse(this.response);

                        if (this.status === 200) {
                            formBtns.style.display = 'none';
                            document.getElementById('another-snippet-row').style.display = 'block';
                            document.getElementById('title-row').style.display = 'none';
                            document.getElementById('slang').style.display = 'none';
                            document.getElementById('sname').innerHTML = "<div class='col s12'><h3 class='white-text'>" + snippetName + "<span class='right'>" + r.language_icon + "</span></h3></div>";
                            document.getElementById('sdesc').innerHTML = "<div class='col s12 m12 l12'><p class='white-text flow-text'><strong>" + snippetLanguage.split("||")[0] + "</strong><br>" + snippetDescription + "</p></div>";
                            document.getElementById('stagsnpin').style.display = 'none';
                            document.getElementById('sm-stagsnpin').style.display = 'none';
                            M.toast({ html: '<p>Snippet Saved!</p>', classes: 'grey darken-3 white-text' });
                        }

                        else if (this.status === 400) {

                            if (r.hasOwnProperty('errors')) {
                                if (r.errors.hasOwnProperty('language')) {
                                    languageErrorText.style.display = 'block';
                                    languageErrorText.innerHTML = r.errors.language;
                                }

                                if (r.errors.hasOwnProperty('snippet_name')) {
                                    nameErrorText.style.display = 'block';
                                    nameErrorText.innerHTML = r.errors.snippet_name;
                                }

                                if (r.errors.hasOwnProperty('description')) {
                                    descriptionErrorText.style.display = 'block';
                                    descriptionErrorText.innerHTML = r.errors.description;
                                }

                                if (r.errors.hasOwnProperty('snippet')) {
                                    snippetErrorText.style.display = 'block';
                                    snippetErrorText.innerHTML = r.errors.snippet;
                                }

                                if (r.errors.hasOwnProperty('tags')) {
                                    tagsErrorText.style.display = 'block';
                                    tagsErrorText.innerHTML = r.errors.tags;
                                }
                            }
                        }
                    };

                    xhr.onerror = function () {
                        formBtns.style.display = 'block';
                        preloader.style.display = 'none';
                        M.toast({ html: '<p><i class="fas fa-2x fa-exclamation-triangle red-text text-accent-1 center"></i></p> &nbsp;&nbsp;&nbsp;<p>An error occured submitting the form.</p>', classes: 'grey darken-3 white-text center' })
                    };

                    xhr.send(params);
                };
            };
        };

        xhr.onerror = function () {
            formBtns.style.display = 'block';
            preloader.style.display = 'none';
            M.toast({ html: '<p><i class="fas fa-2x fa-exclamation-triangle red-text text-accent-1 center"></i></p> &nbsp;&nbsp;&nbsp;<p>An error occured submitting the form.</p>', classes: 'grey darken-3 white-text center' })
        };

        xhr.send();
    }
</script>

<script>
        document.getElementById("new-snippet-form").addEventListener('submit', makeRequest);
        function makeRequest(e) {
            e.preventDefault();
            var csrf_token = "{{ csrf_token() }}";
            var preloader = document.getElementById("new-snippet-preloader");
            var formBtns = document.getElementById("new-snippet-btns");
            var snippetName = document.getElementById('snippet_name').value;
            var snippetLanguage = document.getElementById('language').value;
            var snippetDescription = document.getElementById('description').value;
            var snippetContent = document.getElementById('snippet').value;
            var nameErrorText = document.getElementById('name_error_text');
            var languageErrorText = document.getElementById('language_error_text');
            var descErrorText = document.getElementById('description_error_text');
            var tagsErrorText = document.getElementById('tags_error_text');
            var snippetErrorText = document.getElementById('snippet_error_text');
            var tags = 'tags=';
            var tagData = M.Chips.getInstance(document.getElementById('lg-tags'));

            if (tagData.chipsData.length === 0) {
                var tagData = M.Chips.getInstance(document.getElementById('sm-tags'));
            };

            if (tagData.chipsData.length === 0) {
                tags = tags + "&";
            };

            if (tagData.chipsData.length === 1) {
                tags = tags + tagData.chipsData[0].tag + "&";
            }

            else if (tagData.chipsData.length > 1) {
                for (var i = 0; i < tagData.chipsData.length; i++) {
                    if (i === 0) {
                        tags = tags + tagData.chipsData[i].tag;
                    }

                    else if (i !== 0 && i !== tagData.chipsData.length - 1) {
                        tags = tags + "," + tagData.chipsData[i].tag;
                    }

                    else {
                        tags = tags + "," + tagData.chipsData[i].tag + "&";
                    };
                };
            };

            if (document.getElementById('pin').checked) {
                var pin = 'pin=True&';
            }

            else {
                var pin = 'pin=False&';
            };

            nameErrorText.style.display = "none";
            languageErrorText.style.display = "none";
            descErrorText.style.display = "none";
            tagsErrorText.style.display = "none";
            snippetErrorText.style.display = "none";

            if (snippetLanguage === "none||none") {
                languageErrorText.style.display = 'block';
                languageErrorText.innerHTML = 'This field is required.'
                return false;
            };

            if (snippetContent == "") {
                snippetErrorText.style.display = 'block';
                snippetErrorText.innerHTML = 'This field is required.'
                return false;
            }

            if (snippetContent.length > 50000) {
                snippetErrorText.style.display = 'block';
                snippetErrorText.innerHTML = 'Cannot exceed 50,000 characters.'
                return false;
            }

            if (tags.length > 500) {
                tagsErrorText.style.display = 'block';
                tagsErrorText.innerHTML = 'There are too many tags.';
                return false;
            }

            var name = "snippet_name=" + snippetName + "&";
            var language = "language=" + snippetLanguage + "&";
            var description = "description=" + snippetDescription + "&";
            var snippet = "snippet=" + snippetContent;
            var params = name + language + description + tags + pin + snippet;

            formBtns.style.display = 'none';
            preloader.style.display = "block";

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/new-snippet-submit', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
            xhr.onload = function () {
                preloader.style.display = "none";
                formBtns.style.display = 'block';

                var r = JSON.parse(this.response);

                if (this.status === 200) {
                    formBtns.style.display = 'none';
                    document.getElementById('another-snippet-row').style.display = 'block';
                    document.getElementById('title-row').style.display = 'none';
                    document.getElementById('slang').style.display = 'none';
                    document.getElementById('sname').innerHTML = "<div class='col s12'><h3 class='white-text'>" + snippetName + "<span class='right'>" + r.language_icon + "</span></h3></div>";
                    document.getElementById('sdesc').innerHTML = "<div class='col s12 m12 l12'><p class='white-text flow-text'><strong>" + snippetLanguage.split("||")[0] + "</strong><br>"+ snippetDescription + "</p></div>";
                    document.getElementById('stagsnpin').style.display = 'none';
                    document.getElementById('sm-stagsnpin').style.display = 'none';
                    M.toast({ html: '<p>Snippet Saved!</p>', classes: 'grey darken-3 white-text' });
                }

                else if (this.status === 400) {

                    if (r.hasOwnProperty('errors')) {
                        if (r.errors.hasOwnProperty('language')) {
                            languageErrorText.style.display = 'block';
                            languageErrorText.innerHTML = r.errors.language;
                        }

                        if (r.errors.hasOwnProperty('snippet_name')) {
                            nameErrorText.style.display = 'block';
                            nameErrorText.innerHTML = r.errors.snippet_name;
                        }

                        if (r.errors.hasOwnProperty('description')) {
                            descriptionErrorText.style.display = 'block';
                            descriptionErrorText.innerHTML = r.errors.description;
                        }

                        if (r.errors.hasOwnProperty('snippet')) {
                            snippetErrorText.style.display = 'block';
                            snippetErrorText.innerHTML = r.errors.snippet;
                        }

                        if (r.errors.hasOwnProperty('tags')) {
                            tagsErrorText.style.display = 'block';
                            tagsErrorText.innerHTML = r.errors.tags;
                        }
                    }
                }
            };

            xhr.onerror = function () {
                formBtns.style.display = 'block';
                preloader.style.display = 'none';
                M.toast({ html: '<p><i class="fas fa-2x fa-exclamation-triangle red-text text-accent-1 center"></i></p> &nbsp;&nbsp;&nbsp;<p>An error occured submitting the form.</p>', classes: 'grey darken-3 white-text center' })
            };

            xhr.send(params);
        };
</script>

{% endblock %}