<div class="navbar-fixed" id="fixed-nav">
    <nav class="grey darken-3">
        <div>
            <div class="nav-wrapper">
                <a href="/dashboard?vzin={{ session['vzin'] }}&username={{ session['username'].title() }}" class="brand-logo white-text waves-effect waves-purple nav-border-left" id="logo-home-link">
                    <i class="fas fa-code purple-text text-darken-1"></i> Snypit
                </a>

                <ul class="right nav-border-right">
                    {% if request.path != '/dashboard' %}
                        <li>
                            <a href="#" class="waves-effect waves-purple purple darken-1">{{ title }}</a>
                        </li>
                    {% endif %}

                    <li>
                        {% if request.path == '/dashboard' %}
                            <a href="/dashboard?vzin={{ session['vzin'] }}&username={{ session['username'].title() }}" class="waves-effect waves-purple purple darken-1">Dashboard</a>
                        {% else %}
                            <a href="/dashboard?vzin={{ session['vzin'] }}&username={{ session['username'].title() }}" class="waves-effect waves-purple">Dashboard</a>
                        {% endif %}
                    </li>

                    <li>
                        <a href="#!" class="dropdown-trigger" data-target="new-dropdown">New<i class="material-icons right">arrow_drop_down</i></a>
                    </li>

                    <li>
                        <a href="/logout" class="waves-effect waves-light">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<ul id="new-dropdown" class="dropdown-content grey darken-4">
    <li class="hoverchange"><a href="/new-snippet" class="white-text">Snippet</a></li>
</ul>