<div class="navbar-fixed">
    <nav class="grey darken-3">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo white-text waves-effect waves-purple" id="logo-home-link">
                    <i class="fas fa-code purple-text text-darken-1"></i> Snypit
                </a>

                <ul class="right">
                    <li>
                        <a href="/logout" class="waves-effect waves-light">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>